<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNeTETm5u2OURIPT-IOmRS8kHimXWbtDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>465150723749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kyysh</string>
	<key>PROJECT_ID</key>
	<string>kyysh-e8b88</string>
	<key>STORAGE_BUCKET</key>
	<string>kyysh-e8b88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465150723749:ios:d075129449fdbb8665ef4c</string>
</dict>
</plist>